# IDE
**/.vs
**/.vscode

# Secrets
**/secrets.*

# Package Management
**/node_modules
**/package-lock.json

# Build Artifacts
**/build
**/dist
**/target

# Deployment Artifacts
**/.serverless
**/screenshots/*.png

# External Dependencies
**.sqlite