{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["plugin:@typescript-eslint/recommended", "plugin:react/recommended"], 
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": ["warn", {"args": "none"}],
        "object-curly-spacing": ["error", "always"],
        "@typescript-eslint/explicit-module-boundary-types": "off"
    },
    "env": {
        "browser": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}