body {
	--theme-dark: #4d4646;
	--theme-dark2: #5b5656;
	--theme-green: #7fcd91;
	--theme-light: #f5eaea;

	--max-width: 1060px;

	margin: 0;
	background-color: var(--theme-light);
	color: var(--theme-dark);
	font-family: sans-serif;
}
